<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Page</title>
        <!-- <link rel="stylesheet"  type="text/css"  href="../public/style.css"> -->
        <style>
            body{
                background-color: rgb(237, 235, 235);
            }
            
            input::placeholder {
                font-size: 18px; 
            }

            h1{
                color: #2d0291;
                text-align: center;
                font-size: 45px; ;
            }
            form {
                margin: 80px auto 20px auto;
                width: 30%;
                border-radius: 20px;
                box-shadow: 0 0 15px 3px rgb(188, 187, 187);
                border-style: groove;
            }

            input[type="text"],
            input[type="number"],
            input[type="password"],
            select {
             width: 65%;
             padding-top: 12px;
             padding-bottom: 12px;
             background-color: white;
             text-align: center;
             border-radius: 10px;
             
            }


            
            
            label {
                display: block;
                margin-bottom: 5px;
                text-align: center;
                font-size: larger;
            }
            
            input[type="submit"] {
                padding: 10px 15px;
                background-color: #0048ff;
                border: none;
                color: white;
                cursor: pointer;
                padding-bottom: 10px;
                margin-bottom: 20px;
                border-radius: 10px;
            }
            
            input[type="submit"]:hover {
                background-color: #0056b3;
            }

            .loginpage{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #f3e6d5;
              }
                #stats{
                    margin: 30px;
                    padding-bottom: 100px;
                    color: #0744fc;
                    position: relative;
                    left: 70%;
                    font-size: xx-large;
                }

                h3{
                    font-size: xx-large;
                    font-style: italic;
                }
        </style>
    </head>
<body class="background-container">
    <h1>Admin Page</h1>
    <hr>

    <!-- Form to register a voter -->
    <form  class="loginpage" action="/admin/register/voter" method="post">
        <h3>Register Voter</h3>
        <label for="voter_name">Name:</label>
        <input type="text" id="voter_name" placeholder="Voter's Name" name="name" required><br><br>
        <label for="voter_password">Voter Id:</label>
        <input type="password" id="voter_password" placeholder="Voter Id" name="password" required><br><br>
        <input type="submit" value="Register Voter">
    </form>

    <!-- Form to register a candidate -->
    <form  class="loginpage" action="/admin/register/candidate" method="post">
        <h3>Register Candidate</h3>
        <label for="candidate_name">Name:</label>
        <input type="text" placeholder="Candidate's Name" id="candidate_name" name="name" required><br><br>
        <label for="candidate_party">Party:</label>
        <input type="text" placeholder="party" id="candidate_party" name="party" required><br><br>
        <label for="age">Age:</label>
        <input type="number" placeholder="age" id="age" name="age" required><br><br>
        <input type="submit" value="Register Candidate">
    </form>

    <br><br>
    <a id="stats" href="/stats">View Voting Stats</a>
</body>
</html>
