<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <!-- <link rel="stylesheet" type="text/css" href="/src/public/style.css"> -->
        <style>
            body{
                background-color: rgb(250, 246, 246);
            }
        
            input::placeholder {
                font-size: 18px; 
              }

            h1{
                color: #f40808;
                text-align: center;
                font-size: 45px;
            }
            form {
                margin: 30px auto;
                width: 25%;
                border-radius: 20px;
                box-shadow: 0 0  10px grey ;  
                border-style: groove;
            }

            input[type="text"],
            input[type="number"],
            input[type="password"],
            select {
             width: 65%;
             padding-top: 12px;
             padding-bottom: 12px;
             background-color: white;
             text-align: center;
             border-radius: 10px;
             
            }

            label {
                display: block;
                margin-bottom: 5px;
                text-align: center;
                font-size: larger;
            }
            
            input[type="submit"] {
                padding: 10px 15px;
                background-color: #00060b;
                border: none;
                color: white;
                cursor: pointer;
                border-radius: 10px;
            }
            
            input[type="submit"]:hover {
                background-color: #2b2c2c;
            }

            .loginpage{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;
                
            }

            form{
                background-color: white;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            
            .button{
                position: relative;
                left: 70%;
                font-size: medium;
            }
        </style>
    
    </head>
<body id="login_body" class="background-container">
    <h1>Login</h1>
    <hr>
    <form action="/login" method="post">
        <div class="loginpage">
        <label for="username">Name:</label>
        <input type="text" placeholder="Username" id="username" name="username" required><br><br>
        <label for="password">Password/Voter Id:</label>
        <input type="password" placeholder="password" id="password" name="password" required><br><br>
        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="admin">Admin</option>
            <option value="voter">Voter</option>
        </select><br><br>
        </div>
        <input class="button"  type="submit" value="Login">
    </form>
</body>
</html>
