<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Casted</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <style>
        body{
            height: 100vh;
            font-size: 4vw;
            font-weight: 900;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            margin: 0;
            background-color: rgb(3, 3, 73);
            color: aliceblue;
            font-style: italic;
        }
    </style>
</head>
<body>
    <p class="animate__bounceOut"><%= message %></p>
</body>
</html>